* {
    margin: 0px;
    font-family: Familjen Grotesk !important;
}

body {
    background-color: #e8e8e8;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 20px;
    background-image: url("../public/worldmap.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 15px;
    margin: 20px 0;
}


.stat-card {
    border: 1px solid #ddd;
    padding: 15px;
    text-align: center;
    background: #f8f9fa;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    transition: transform 0.3s ease-in-out;
}

.stat-card:hover{
    transform: scale(1.05);
    cursor: pointer;
}

.stat-card h3 {
    margin: 0 0 10px;
    color: #333;
    font-size: 1.1em;
}

.stat-card p {
    font-size: 1.4em;
    font-weight: bold;
    color: #007bff;
    margin: 0;
}

.alert {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin: 10px 0;
}

.alert-warning {
    background: #fff3cd;
    color: #856404;
    border-color: #ffeaa7;
}

.alert-info {
    background: #d1ecf1;
    color: #0c5460;
    border-color: #bee5eb;
}

form {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-top: 20px;
}

input {
    padding: 8px;
    flex: 1;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    padding: 8px 16px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


.worldmap-container {
    width: 1vw;
    height: auto;
    
}